src/main/resources/wsdl/employeePayroll.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Employee Payroll"
                  targetNamespace="http://payroll.com/services/employee"
                  xmlns:tns="http://payroll.com/services/employee"
                  xmlns:types="http://payroll.com/employee"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                  
	<wsdl:types>
        <xs:schema
                targetNamespace="http://payroll.com/employee"
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://payroll.com/employee"
                elementFormDefault="qualified"
                version="1.0">
           	
           	<xs:complexType name="employeeInfo">
		        <xs:sequence>
		           <xs:element name="employeeId" type="xs:long"/>
		                <xs:element name="name" type="xs:string"/>
		                <xs:element name="department" type="xs:string"/>
		                <xs:element name="salary" type="xs:double"/>
		        </xs:sequence>
		    </xs:complexType>
    
	        <xs:element name="addEmployeeRequest">
		        <xs:complexType>
		            <xs:sequence>
		                <xs:element name="name" type="xs:string"/>
		                <xs:element name="department" type="xs:string"/>
		                <xs:element name="salary" type="xs:double"/>
		            </xs:sequence>
		        </xs:complexType>
	    	</xs:element>
	    	
	    	<xs:complexType name="serviceStatus">
		        <xs:sequence>
		            <xs:element name="statusCode" type="xs:string"/>
		            <xs:element name="message" type="xs:string"/>
		        </xs:sequence>
    		</xs:complexType> 
    		
    		<xs:element name="addEmployeeResponse">
		        <xs:complexType>
		            <xs:sequence>
		                <xs:element name="serviceStatus" type="tns:serviceStatus"/>            
		                <xs:element name="employeeInfo" type="tns:employeeInfo"/>
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element>  
		    
		</xs:schema>
    </wsdl:types>
    
    <wsdl:message name="addEmployeeRequest">
        <wsdl:part name="addEmployeeRequest" element="types:addEmployeeRequest" />
    </wsdl:message>

    <wsdl:message name="addEmployeeResponse">
        <wsdl:part name="addEmployeeResponse" element="types:addEmployeeResponse" />
    </wsdl:message>
    
    <wsdl:portType name="EmployeePort">
		<wsdl:operation name="addEmployee">
			<wsdl:input message="tns:addEmployeeRequest" name="addEmployeeRequest"> </wsdl:input>
			<wsdl:output message="tns:addEmployeeResponse" name="addEmployeeResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="EmployeeBinding" type="tns:EmployeePort">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addEmployee">
		<soap:operation soapAction=""/>
			<wsdl:input name="addEmployeeRequest">
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addEmployeeResponse">
			<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="EmployeePayrollPortService">
		<wsdl:port binding="tns:EmployeeBinding" name="EmployeeBinding">
		<soap:address location="http://localhost:8080/ws/employeePayroll"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>